.review_item_wrapper{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #a7b3b5;

    .author_name{
        font-size: 13px;
        float: left;
    }

    .stars_rating{
        color: #edbd21;
    }

    .comments{
        margin-top: 5px;
        text-align: left;
        font-size: 12px;
    }
}