.reservation_form {
    height: auto;

    .required_ast {
        color: red;
    }

    .meeting_edit_button {
        appearance: none;
        border: none;
        background: #fff;
        cursor: pointer;
        color: #41a3ff;
        outline: 0;

        &:hover {
            text-decoration: underline;
            color: #1678d3;
        }
    }

    .submit_edit_button {
        margin-left: 10px;
        padding: 5px;
        appearance: none;
        border: 1px solid #41a3ff;
        color: #fff;
        background: #41a3ff;
        border-radius: 4px;
        cursor: pointer;
        transition: background ease-out 150ms;
        outline: 0;

        &:hover {
            background: #1678d3;
            color: #fff
        }
    }

    .cancel_edit_button {
        outline: 0;
        appearance: none;
        border: none;
        color: #ca2525;
        background: #fff;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            color: #a30404;
        }
    }
    

    .btn_cancel_reservation {
        display: flex;
        margin: 10px 0 0 auto;
        padding: 7px 10px;
        appearance: none;
        border-radius: 5px;
        background: #ca2525;
        border: 1px solid #a30404;
        color: #fff;

        &:hover {
            background: #a30404;
            color: #fff;
            cursor: pointer;
        }
    }

    .content_group.row {
        flex-flow: row nowrap;
    }

    .content_group.col {
        flex-flow: column nowrap;
    }

    .content_group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .edit_meeting_group_size {
            margin-bottom: 10px;

            span {
                font-size: 20px;
            }
        }

        .edit_meeting_duration {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;

            label {
                margin-bottom: 5px;
            }

            select {
                font-size: 18px;
                border-radius: 5px;
                padding: 5px;
                border: 1px solid #cccccc;
                width: 160px;
            }
        }

        .edit_meeting_group_size,
        .edit_meeting_name {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            width: 100%;

            label {
                margin-bottom: 5px;
            }

            input {
                padding: 10px 5px;
                font-size: 16px;
                width: 100%;
                border-radius: 5px;
                border: 1px solid #cccccc;
                outline: none;

                &::placeholder {
                    color: #cccccc;
                    font-style: italic;
                }

                &.error {
                    border: 1px solid red;

                    &:focus {
                        box-shadow: 0 0 3px 0 red;
                    }
                }

                &:focus ~ .char_limit {
                    opacity: 1;
                }

                &.error:focus ~ .char_limit {
                    color: red;
                }

                &:focus {
                    box-shadow: 0 0 3px 1px #41a3ff;
                }
            }

            .char_limit {
                color: #01973f;
                margin-left: auto;
                opacity: 0;
                transition: opacity ease-in-out 100ms;

                &.capped {
                    font-weight: bold;
                    color: #fa653b;
                }
            }
        }

        .show_meeting_duration,
        .show_group_size {
            font-size: 20px;
        }

        .show_meeting_name {
            font-size: 28px;
            font-weight: bold;
            white-space: pre-wrap;
            text-align: left;
            color: #272727;
            width: 100%;
        }

        .res_status {
            font-size: 18px;
        }

        // Justify Content - Space Between
        &.spc_btwn {
            justify-content: space-between;
        }
    }
    .date_time_info_window {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 1 100%;

        span {
            font-size: 20px;
        }

        .time {
            margin-left: 10px;
        }

        ~ div:last-of-type {
            flex: 0 1 auto;
            margin-left: auto;
        }
    }

    .custom_datetime_input_button {
        display: flex;
        align-items: center;
        padding: 10px;
        appearance: none;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #cccccc;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
            i {
                color: #9147ff;
            }
        }

        i {
            font-size: 16px;
        }
    }

    .res_status {
        padding: 5px;
        border-radius: 5px;
        font-size: 18px;
        background: #d3d3d3;
        font-weight: bold;
        align-self: flex-start;

        &.red {
            background: #ca2525;
            color: #fff;
        }

        &.green {
            background: #23860a;
            color: #fff;
        }
    }

    .location_details_window {
        position: relative;
        padding: 15px;
        border: 1px solid #d3d3d3;
        border-radius: 10px;

        .location_primary_details {
            text-align: left;
            margin-bottom: 10px;

            .location_type_icon {
                font-size: 40px;
                color: #9147ff;
                margin-left: auto;
            }

            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                margin: 0 auto;
                background: #d3d3d3;
            }

            // Location Name
            h3 {
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-start;
                font-size: 32px;
                color: #272727;
                margin: 0;

                i.save_location {
                    margin-left: 10px;
                    cursor: pointer;
                    background: #f7f7f7;
                    border-radius: 4px;

                    &:focus {
                        background: #ececec;
                        color: #272727;
                    }

                    &:hover {
                        background: #ececec;
                        color: gold;
                    }

                    &.gold {
                        color: gold;

                        &:focus {
                            background: #ececec;
                            color: #272727;
                        }

                        &:hover {
                            color: #c7b54e;
                        }
                    }
                }

            }

            // Address
            h4 {
                display: flex;
                align-items: center;
                color: rgba(0, 0, 0, 0.87);
                font-weight: normal;

                i {
                    margin-right: 10px;
                    color: #9147ff;
                }
            }
        }

        .location_sub_details {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;

            @media screen and (max-width: 500px) {
                flex-direction: column;
            }

            .sub_detail_box {
                flex: 0 1 100%;
                display: flex;
                flex-flow: column nowrap;
                background: rgba(0, 0, 0, 0.03);
                padding-bottom: 15px;
            }

            .sub_detail_box:not(:last-of-type) {
                margin-right: 10px;
            }

            .sub_title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                color: rgba(0, 0, 0, 0.8);
                background: rgba(0, 0, 0, 0.06);
                margin: 0 0 10px;

                i {
                    font-size: 20px;
                    margin-right: 10px;
                    color: inherit;
                }
            }

            // Hours Details
            .sub_hours .sub_details {
                font-size: 12px;

                p {
                    margin: 5px 0;
                }

                p.current_day {
                    font-weight: bold;
                    color: #9147ff;
                }
            }

            // Contact Details
            .sub_contact .sub_details {
                display: flex;
                flex-flow: column nowrap;
                height: 100%;

                p {
                    display: flex;
                    margin: 5px 0;

                    span:first-of-type {
                        flex: 0 1 40%;
                        text-align: right;
                        margin-right: 10px;
                    }

                    span:last-of-type {
                        flex: 0 1 60%;
                        text-align: left;
                    }
                }

                p.web_link {
                    margin-top: auto;
                    margin-bottom: 0;
                    align-self: center;
                }
            }

            .sub_rating .sub_details,
            .sub_pricing .sub_details {
                height: 100%;
                justify-content: center;
            }

            // Rating Details
            .sub_rating .sub_details {
                display: flex;
                flex-flow: column nowrap;

                i {
                    font-size: 64px;

                    &.very_high {
                        color: #01973f;
                    }

                    &.high {
                        color: #17cc63;
                    }

                    &.low {
                        color: #fa653b;
                    }

                    &.very_low {
                        color: #c60204;
                    }
                }

                span:first-of-type {
                    font-size: 24px;

                    &.very_high {
                        color: #01973f;
                    }

                    &.high {
                        color: #17cc63;
                    }

                    &.low {
                        color: #fa653b;
                    }

                    &.very_low {
                        color: #c60204;
                    }
                }

                span.total_ratings {
                    font-size: 12px;
                    color: grey;
                }

                span.submit_review {
                    margin-top: auto;
                    color: #41a3ff;
                    cursor: pointer;
                    text-decoration: underline;
                    &:hover {
                        color: #1678d3;
                    }
                }
            }

            // Pricing Details
            // very_inexpensive", "inexpensive", "moderate", "expensive", "very_expensive
            .sub_pricing .sub_details {
                display: flex;
                flex-flow: column nowrap;

                span.no_price {
                    font-size: 16px !important;
                }

                span:first-of-type {
                    margin-bottom: 15px;
                    font-size: 40px;
                    align-self: center;
                    padding: 15px;

                    &.very_expensive {
                        color: #c60204;
                    }
                    &.expensive {
                        color: #fa653b;
                    }
                    &.moderate {
                        color: #fdef22;
                    }
                    &.inexpensive {
                        color: #01973f;
                    }
                    &.cheap {
                        color: #2549c0;
                    }
                }

                span:last-of-type {
                    display: inline-flex;
                    align-self: center;
                    padding: 5px 15px;
                    border-radius: 5px;

                    &.very_expensive {
                        background: #c60204;
                        color: #fff;
                    }
                    &.expensive {
                        background: #fa653b;
                        color: #fff;
                    }
                    &.moderate {
                        background: #fdef22;
                        color: black;
                    }
                    &.inexpensive {
                        background: #01973f;
                        color: #fff;
                    }
                    &.cheap {
                        background: #2549c0;
                        color: #fff;
                    }
                }
            }
        }
    }

    @media (hover: none) {
        i.save_location {
            &:hover {
                color: #272727 !important;
                background: #f7f7f7 !important;
            }

            &.gold:hover {
                color: gold !important;
                background: #f7f7f7 !important;
            }
        }

    }
}
