/* SCSS Syntax

The general idea is that you nest your tags/styles and when the file is translated to css,
it automatically applies the styles to .App children. So below, the .App-header will be prefixed
as `.App .App-header` This will make it easier to avoid classes styling components or elements 
they shouldn't be touching.

Example:
.App {
    text-align: center;

    .App-header {
        background-color: #282c34;
    }
}    

*/

// Material Icons
@import "~material-design-icons/iconfont/material-icons.css";

// Google Font Imports
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

// Constrain all content to the borders
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    text-align: center;
}
