/* SCSS Syntax

The general idea is that you nest your tags/styles and when the file is translated to css,
it automatically applies the styles to .App children. So below, the .App-header will be prefixed
as `.App .App-header` This will make it easier to avoid classes styling components or elements 
they shouldn't be touching.

Example:
.App {
    text-align: center;

    .App-header {
        background-color: #282c34;
    }
}    

*/

// Constrain all content to the borders
*,
*:before,
*:after {
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
