.home_page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #787878;
    min-height: 100%;
    width: 100%;
    overflow: auto;
    // /* Might be worth transitioning to a local image in the future */
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    //     url("https://images.unsplash.com/photo-1519155031214-e8d583928bf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    // background-position: center center fixed;
    // background-size: cover;

    video {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }

    .content_wrapper {
        max-width: 650px;
        background: #fff;
        width: 100%;
        border-radius: 10px;
        padding: 15px;
        z-index: 1;
    }

    @media (min-aspect-ratio: 16/9) {
        video {
            width: 100%;
            height: auto;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        #videoBG {
            width: auto;
            height: 100%;
        }
    }
}
