.review_wrapper {
    display: flex;
    justify-content: center;
    padding: 106px 15px 15px;

    .required_ast {
        color: red;
    }

    .review_container {
        width: 100%;
        max-width: 650px;
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
        background: #fff;
        border-radius: 7px;
    }

    .fixed_picture {
        position: fixed;
        object-fit: cover;
        top: 0;
        left: 0;
        height: 250px;
        width: 100%;
        z-index: -1;
    }

    .location_title {
        display: flex;
        flex-flow: column nowrap;
        padding: 15px;
        background: #41a3ff;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;

        .title {
            padding: 10px 15px;
            font-weight: bold;
            color: #fff;
            border-radius: 4px;
            font-size: 20px;
            align-self: center;
        }
    }

    .star_rating {
        display: flex;
        flex-flow: row nowrap;
        padding: 15px;

        .star_container {
            margin-left: 10px;
        }

        i {
            cursor: pointer;
        }

        i:not(:last-of-type) {
            margin-right: 5px;
        }

        .star {
            cursor: pointer;
            color: gold;
        }

        .star_outline {
            color: rgba(0, 0, 0, 0.3);
        }
    }

    .user_review {
        text-align: left;
        padding: 15px;

        .user_review_form {
            display: flex;
            flex-flow: column nowrap;
        }

        label {
            margin-bottom: 5px;
            font-size: 16px;
            align-self: flex-start;

            &.error {
                color: red;
            }
        }

        textarea {
            padding: 5px;
            max-width: 620px;
            width: 100%;
            outline: none;

            &:focus {
                box-shadow: 0 0 3px 1px #41a3ff;
            }

            &.error {
                border: 1px solid red;

                &:focus {
                    box-shadow: 0 0 3px 0 red;
                }
            }
        }

        .textarea_details {
            display: flex;
        }

        .label_error {
            color: red;
            font-size: 14px;
        }

        .max_length {
            margin-left: auto;
            font-size: 14px;
            color: #272727;

            &.overflow {
                color: red;
            }
        }
    }

    .estimated_cost_container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;

        .cost_selected {
            margin-left: 15px;
            cursor: pointer;
            padding: 5px;
            background: #9147ff;
            color: #fff;
            border-radius: 4px;
        }
        .cost {
            cursor: pointer;
            border-style: none;
            margin-left: 15px;
            color: #8c8777;
            padding: 5px;
            border-radius: 4px;
            transition: background ease-in-out 150ms;

            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }

    .button_container {
        display: flex;
        flex-flow: row nowrap;
        padding: 15px;

        .submit_button {
            padding: 10px 15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 1px solid #41a3ff;
            color: #fff;
            background: #41a3ff;
            border-radius: 4px;
            cursor: pointer;
            transition: background ease-out 150ms;
            outline: 0;

            &:hover {
                background: #1678d3;
                color: #fff;
            }
        }

        .cancel_button {
            outline: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            color: #ca2525;
            background: #fff;
            cursor: pointer;
            margin-right: auto;

            &:hover {
                text-decoration: underline;
                color: #a30404;
            }
        }
    }
}
