.business_detail_wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 25%;
    height: 95%;
    width: 25%;
    background: #fff;
    overflow-y: auto;
    
    .image_container {
        height: 200px;
        width: 300px;
    }
    .business_name_container {
        font-size: 20px;
        padding: 10px;
    }
    .business_addr_container {
        padding: 10px;
    }
    .travel_detail_container{
        padding: 5px;
        flex-direction: row;
        justify-content: space-evenly;
        display: flex;
    }
    .business_hours_container {
        padding: 5px;
    }
    .utility_buttons_container{
        padding: 10px;
        flex-direction: row;
        justify-content: space-evenly;
        display: flex;
    }
    .view_review_container{
        cursor: pointer;
        padding: 10px;
        flex-direction: row;
        justify-content: space-evenly;
        display: flex;
    }
}