.review_wrapper{
    margin: 200px;
    .estimated_cost_container{
        flex-direction: row;
        justify-content: space-evenly;
        display: flex;
        .cost_selected{ 
            font-weight: bold;
            font-size: 23px;
        }
        .cost {
            border-style: none;
        }
    }
    .star_filled {
        color: #edbd21;
    }
    .star{
        color: #8c8777;
    }
}