.make_reservation_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 300px;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow-y: auto;
    z-index: 9999999;

    .required_ast {
        color: red;
    }

    button.custom_datetime_input_button {
        appearance: none;
        border: none;
        padding: 15px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    .date_time_group {
        > div {
            width: 100%;
        }
    }

    .make_reservation_form {
        display: flex;
        flex-flow: column nowrap;
        padding: 25px;
        height: 100%;

        h2 {
            margin-top: 0;
        }

        button[type="submit"] {
            appearance: none;
            border: none;
            margin-top: auto;
            padding: 15px;
            border: 1px solid #9147ff;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            color: #fff;
            background: #9147ff;
            transition: ease-in-out 150ms;
            letter-spacing: 0.4px;

            &:hover {
                background: #772ce8;
                color: #fff;
            }

            &[disabled],
            &:disabled {
                cursor: not-allowed;
                opacity: 0.3;

                &:hover {
                    background: #9147ff;
                }
            }
        }
    }

    .input_group {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-bottom: 20px;

        .react-datepicker-wrapper {
            width: 100%;
        }

        label {
            color: #272727;
            text-align: left;
            padding-bottom: 5px;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input:read-only,
        input[readonly] {
            cursor: default;
        }

        input {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #cccccc;
            font-size: 16px;
            padding: 10px 5px;
            outline: none;

            &::placeholder {
                color: #cccccc;
                font-style: italic;
            }

            &:focus {
                box-shadow: 0 0 3px 1px #41a3ff;
            }
        }

        input.error {
            border: 1px solid red;

            &:focus {
                box-shadow: 0 0 3px 0 red;
            }
        }
    }
}
