.make_reservation_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 250px;
    height: 100%;
    width: 100%;
    background: #fff;
    padding-top: 53px;
    overflow-y: auto;
    z-index: 1;

    .placeid_error {
        text-align: left;
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: 10px;
        color: red;
    }

    // ReserveStatus.js
    .success_container, .error_container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 15px;

        .header {
            display: flex;
            flex-flow: column nowrap;

            i {
                font-size: 60px;
                text-align: center;
                margin-bottom: 10px;

                &.success {
                    color: #79ca49; 

                    & ~ .title {
                        color: #79ca49;
                    }
                }

                &.error {
                    color: #ff0000;

                    & ~ .title {
                        color: #ff0000;
                    }
                }
            }

            .title {
                font-size: 20px;
                text-align: center;
            }
        }

        .body {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;


            .text {
                font-size: 14px;
                color: #272727;

                &:last-of-type {
                    margin-top: 0;
                }
            }

            .reservation_link {
                color: #fff;
                padding: 8px 16px;
                font-size: 14px;
                background: #41a3ff;
                transition: background ease-in-out 150ms;
                text-decoration: none;
                border-radius: 4px;

                &:hover {
                    background: #1678d3;
                }
            }
        }

    }


    .loading_overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .75);
        z-index: 999;

        .loading_text {
            font-family: "Pacifico", cursive;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, .75);
            font-size: 24px;
            color: #73f79f;
        }

        // Override the height of the loader_container (in <Loader />) to display items correctly
        .loader_container {
            height: unset;
        }
    }

    .required_ast {
        color: red;
    }

    .duration_notice {
        text-align: left;
        line-height: .85;

        span {
            font-size: 10px;
            color: #272727;
        }
    }

    button.custom_datetime_input_button {
        appearance: none;
        border: none;
        padding: 15px;
        color: #fff;
        background: #41a3ff;
        border: 1px solid #41a3ff;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;

        &:hover {
            background: #1678d3;
        }
    }

    .make_reservation_form {
        display: flex;
        flex-flow: column nowrap;
        padding: 15px;
        height: 100%;

        h2 {
            font-size: 20px;
            margin-top: 0;
        }

        button[type="submit"] {
            appearance: none;
            border: none;
            margin-top: auto;
            padding: 15px;
            border: 1px solid #9147ff;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            color: #fff;
            background: #9147ff;
            transition: ease-in-out 150ms;
            letter-spacing: 0.4px;

            &:hover {
                background: #772ce8;
                color: #fff;
            }

            &[disabled],
            &:disabled {
                cursor: not-allowed;
                opacity: 0.3;

                &:hover {
                    background: #9147ff;
                }
            }
        }
    }

    .input_group {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-bottom: 20px;

        .react-datepicker-wrapper {
            width: 100%;
        }

        label {
            font-size: 14px;
            color: #272727;
            text-align: left;
            padding-bottom: 5px;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input:read-only,
        input[readonly] {
            background: #e7e7e7;
            cursor: default;
        }

        input {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #cccccc;
            font-size: 14px;
            padding: 7px 5px;
            outline: none;

            &::placeholder {
                color: #cccccc;
                font-style: italic;
            }

            &:focus {
                box-shadow: 0 0 3px 1px #41a3ff;
            }
        }

        input.error {
            border: 1px solid red;

            &:focus {
                box-shadow: 0 0 3px 0 red;
            }
        }
    }

    .date_time_group {
        margin-bottom: 10px;

        > div {
            width: 100%;
        }
    }
}
