.search_addr_form {
    display: block;

    .input_group {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        .form_label,
        .form_input {
            margin: 10px 0;
        }

        .form_label {
            font-size: 24px;
        }

        .form_input {
            width: 100%;
            font-size: 30px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #9b9b9b;
            background: #ebf0fc;
            outline: none;

            &::placeholder {
                color: #9b9b9b;
            }

            &:focus {
                box-shadow: 0 0 3px 1px rgb(14, 126, 255);
            }
        }
    }
}
